<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raf.mojbudzet3" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZmianaHasla"
            android:label="@string/title_activity_zmiana_hasla" >
            <intent-filter>
                <action android:name="com.example.raf.mojbudzet3.ZmianaHasla" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EkranGlowny"
            android:label="@string/title_activity_ekran_glowny" >
            <intent-filter>
                <action android:name="com.example.raf.mojbudzet3.EkranGlowny" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DodajWydatek"
            android:label="@string/title_activity_dodaj" >
            <intent-filter>
                <action android:name="com.example.raf.mojbudzet3.Dodaj" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Statystyki"
            android:label="@string/title_activity_statystyki" >
            <intent-filter>
                <action android:name="com.example.raf.mojbudzet3.Statystyki" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DodajPrzychod"
            android:label="@string/title_activity_dochody" >
            <intent-filter>
                <action android:name="com.example.raf.mojbudzet3.Dochody" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
